hr {
  margin: 3em 0 0;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.info {
  grid-column-start: 1;
  grid-column-end: span 2;
}

.wrapper-inputs,
.wrapper-selects,
.wrapper-checkboxes {
  position: relative;
}

.wrapper-inputs .btn,
.wrapper-selects .btn,
.wrapper-checkboxes .btn {
  top: 0;
}

.wrapper-inputs,
.wrapper-selects,
.wrapper-checkboxes {
  grid-column-start: 1;
  padding: 1em;
  background-color: #282c34;
}

.ctnt-input,
.ctnt-select,
.ctnt-checkbox {
  display: flex;
  position: relative;
  right: 0;
  left: 110%;
}
/*
.ctnt-input {

}
.ctnt-select {

}
.ctnt-checkbox {

}
*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  min-width: 6.5em;
  min-height: 2.3em;
  margin: 0.5em;
  padding: 0.5em 1em;
  background: blue;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn:hover {
  color: blue;
}

.btn:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.btn:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn.btn-alt {
  background: red;
  color: white;
}

.btn.btn-alt:hover {
  color: red;
}

.btn.btn-add {
  position: absolute;
}
